pandas
numpy
matplotlib
seaborn
plotly
scikit-learn
statsmodels
scipy


# pandas>=2.0.0
# numpy>=1.24.0
# matplotlib>=3.7.0
# seaborn>=0.13.0
# plotly>=5.18.0
# scikit-learn>=1.3.0
# statsmodels>=0.14.0
# scipy>=1.10.0

# report.py
from reportlab.platypus import SimpleDocTemplate, Paragraph
from reportlab.lib.styles import getSampleStyleSheet

# istm_model.py
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

# app.py
import streamlit as st
import pandas as pd